*{
	padding: 0;
	margin: 0 auto;
	
}

body
{
	background: url(pliki/bo_play_pattern_@2X.png);
}

#container
{
	margin: 0 auto;
	width: 100%;
	height: 1010px;
	background: url(pliki/wood_1_@2X.png);
	border: solid black 5px;
	border-color: #373737;
	margin-top:10px;
}

#header
{
	width: 100%;
	height: 110px;
	background: url(pliki/wood_1_@2X.png);
	color: white;
	font-size: 100px;
	text-align: center;
	letter-spacing: 20px;
	padding-top: 10px;
}

.window
{
	float:left;
	width: 28.75%;
	height: 600px;
	background: #d7d7d7;
	border: solid black 1px;
	border-color:black;
	margin: 1.5%;
	border-radius: 35px;
}

.point
{
	float: left;
	width: 39%;
	height: 5 0px;
	background: grey;
	margin: 0% 5%;
	text-align: center;
	padding: 1% 0%;
	margin-top: 1%;
	color: white;
	border:solid black 1px;
	border-color:white;
}

.window_in
{
	width: 100%;
	height: 33%;
	/*border: solid 1px black;*/
	text-align: center;
	margin-top: 3%;
}

#submit
{
	width: 30%;
	margin-top: 30px;
	margin-left: 17px;
	padding: 15px 0;
	padding-top: 20px;
	border: 2px solid #737b8d;
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	background: -moz-linear-gradient(
		top,
		#c52323 0%,
		#942323);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#c52323),
		to(#942323));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(255,255,255,0.7);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(255,255,255,0.7);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3), 0px 0px 0px rgba(255,255,255,0);
	display: table;
	position: static;
	float:left;
	cursor: pointer;
}
#submits
{
	width: 95%;
	margin-top: 30px;
	margin-left: 17px;
	padding: 15px 0;
	padding-top: 20px;
	border: 2px solid #737b8d;
	color: #fff;
	font-size: 25px;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	background: -moz-linear-gradient(
		top,
		#c52323 0%,
		#942323);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#c52323),
		to(#942323));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(255,255,255,0.7);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1), inset 0px 2px 0px rgba(255,255,255,0.7);
	text-shadow: 0px 1px 3px rgba(0,0,0,0.3), 0px 0px 0px rgba(255,255,255,0);
	display: table;
	position: static;
	float:left;
	cursor: pointer;
}

.in
{
	margin-top: 10%;
}

@media (min-width: 800px)
{
	#container{width: 800px}
}
#register
{
	width: 700px;
	height: auto;
	background: grey;
	z-index: 100;
	position: fixed;
	top: 160px;
	left: 50%;
	margin-left: -358px;
	border-radius: 20px;
	border: 8px #fff solid;
	text-align: center;
	padding: 50px 0;
	display: none;
}
label
{
	font-size: 40px;
}
#form_name
{
	width: 200px;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	outline: none;
}

#form_pkt
{
	width: 650px;
	background: grey;
	border: none;
	font-size: 100px;
	text-align: center;
	letter-spacing: 20px;
	font-weight: bold;
}

#register h1
{
	font-size: 50px;
}

#info
{
	font-size: 30px;
	margin: 100px 20px 0;
	color: #fff;
}